<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <h2>v-for와 v-if 함께 사용하기</h2>
    <div id="app">
      <label>반수 : </label>
      <input type="number" v-model.number="count" />
      <ul>
        <template v-for="(region, index) in ssafy" >
          <li v-if="region.count === count">
            지역 : {{region.name}}, {{region.count}}개반
          </li>
        </template>
      </ul> 
    </div>
    <script>
       const {createApp, ref} = Vue
        createApp({
            setup(){
                const count = ref(2);

                const ssafy = ref([{
                        name: "광주",
                        count: 2
                    },
                    {
                        name: "구미",
                        count: 2
                    },
                    {
                        name: "부울경",
                        count: 2
                    },
                    {
                        name: "대전",
                        count: 4
                    },
                    {
                        name: "서울",
                        count: 9
                    }
                ])
                
                return {
                    ssafy,count
                }
            }
        }).mount("#app")


      
    </script>
  </body>
</html>
