<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:component-scan base-package="edu.ssafy"/>
	<!-- <bean class="edu.ssafy.main.Person" id="person" scope="singleton">
		<constructor-arg index="0" value="홍길동"/>
		<constructor-arg index="1" value="21"/>
		<constructor-arg index="2" value="대전"/>
		<property name="name" value="홍길동"/>
		<property name="age" value="22"/>
		<property name="addr" value="봉명동"/>
		
	</bean>
	
	<bean class="edu.ssafy.main.Student" id="student">
		<constructor-arg index="0" ref="person"></constructor-arg>
		<constructor-arg index="1" value="1012"/>
	</bean> -->
	
	
</beans>
